parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests

    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
